@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

ALKAY TRANS

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #444444;
$secondary_color: #526bad;
$tertiary_color: #ff7331;
$background: #e0e0e0;
$max-width: 1000px;

/* ---------- General ---------- */

* {
	margin: 0;
	padding: 0;
}

body {
	background: {
		image: url(bg.jpg);
		position: top;
		repeat: repeat-x;
	}
	font: {
		family: "Myriad Pro";
		size: 14px;
	}
	color: $primary_color;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: {
		family: "Myriad Pro";
		weight: bold;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.row {
		max-width: $max-width;
		background-color: #fff;
		.line {
			height: 10px;
			background-color: $tertiary_color;
		}
		.moduletable_to1 {
			padding: 10px 0;
			p {
				margin: 0;
			}
		}
		.moduletable_to2 {
			height: 45px;
			ul.dj-megamenu {
				height: 45px;
				background: $secondary_color;
				li {
					padding: 0 10px !important;
					&.itemid101 {
						display: none;
					}
					&.active,
					&.hover {
						a {
							background: transparent;
							background-color: #fff;
							color: $secondary_color;
						}
					}
					a {
						height: inherit;
						padding: 10px 20px;
						border: none;
						font: {
							size: 16px;
							weight: normal;
						}
						text-transform: uppercase;
						span {
							height: inherit;
							line-height: inherit;
							em.arrow {
								top: 10px;
								right: 30px;
							}
						}
					}
					.dj-subwrap {
						background-color: #fff;
						ul.dj-submenu {
							margin: 0;
							li {
								background: none;
								border: none;
								&.hover {
									a {
										background-color: $secondary_color;
										color: #fff;
									}
								}
								a {
									height: inherit;
									background-color: #fff;
									color: $secondary_color;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.row {
		max-width: $max-width;
		background-color: #fff;
		.columns {
			padding: 0;
		}
	}
}

/* Home */

.home {
	padding: {
		top: 10px;
		bottom: 52px;
	}
	background: {
		image: url(home_bg.png);
		repeat: repeat-x;
		position: bottom;
	}
}

/* Project */

.project {
	padding: 20px 0;
	.row {
		max-width: $max-width;
		.moduletable_pr1 {
			h3 {
				margin: 0;
				margin-bottom: 10px;
				background: {
					image: url(moduletable_pr1_h3_bg.png);
					position: bottom;
					repeat: no-repeat;
				}
				font-size: 24px;
				text-align: center;
			}
			p {
				font-size: 24px;
			}
			.button {
				margin: 0;
				margin-top: 20px;
				background-color: $tertiary_color;
				font-size: 20px;
			}
		}
	}
}

/* Component */

.component {
	padding: 20px 0;
	.row {
		max-width: $max-width;
		.page-header {
			h2 {
				margin: 0;
				margin-bottom: 10px;
				background: {
					image: url(moduletable_pr1_h3_bg.png);
					position: bottom;
					repeat: no-repeat;
				}
				font-size: 24px;
				text-align: center;
			}
		}
		.color_1,
		.color_2,
		.color_3 {
			padding: 15px;
			border: 5px solid #fff;
			h2 {
				margin: 0;
				margin-bottom: 10px;
				font-size: 24px;
				color: $tertiary_color;
			}
		}
		.color_1 {
			background-color: $background;
		}
		.color_2 {
			background-color: rgba(151, 168, 196, 0.3);
		}
		.color_3 {
			background-color: rgba(82, 107, 173, 0.3);
		}
	}
}

/* Bottom */

.bottom {
	.row {
		max-width: $max-width;
		background-color: $secondary_color;
		.moduletable_bo1 {
			padding: 10px 0;
			font-size: 16px;
			color: #fff;
			a {
				color: #fff;
			}
		}
	}
}

/* Copyright */

.copyright_wrap {
	padding: 10px 0;
	background-color: $background;
	.copyright {
		font-size: 16px;
		color: $secondary_color;
		text-align: center;
		a {
			color: $secondary_color;
		}
	}
}

/* ---------- Components ---------- */

/* OS Responsive Image Gallery */

.os-gallery-tabs-main-1 {
	.copyright-block {
		display: none;
	}
}

/* ChronoForms */

.chronoform {
	h2 {
		margin: 0;
		margin-bottom: 10px;
		background: {
			image: url(moduletable_pr1_h3_bg.png);
			position: bottom;
			repeat: no-repeat;
		}
		font-size: 24px;
		text-align: center;
	}
	input[type=text],
	textarea {
		background-color: $background;
		border: none;
		box-shadow: none;
		font-size: 12px;
	}
	#ftd-enviar {
		text-align: center;
		.button {
			margin: 0;
			background-color: $tertiary_color;
			font-size: 12px;
			text-transform: uppercase;
		}
	}
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
	a {
		font-size: 0;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to2 {
			height: inherit !important;
			padding: 5px 0;
			.dj-megamenu-accordion {
				.dj-mobile-open-btn {
					background: #fff;
					color: $secondary_color;
				}
				.dj-accordion {
					.dj-accordion-in {
						background: transparent;
						ul.dj-mobile-nav {
							margin: 0;
							li {
								&.current {
									a {
										background-color: $secondary_color;
										color: #fff;
									}
								}
								a {
									padding: 10px;
									background: transparent;
									border: none;
									span.toggler {
										padding: 5px 10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	/* ChronoForms */

	.chronoform {
		#ftd-enviar {
			.button {
				margin-bottom:20px;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}